<div class="cordinatesIndex">
<div class="body">
  <div class="link">
    <%= link_to "コーディネートを登録する", new_cordinate_path, class: "btn-flat-border"%>
  </div>

  <div class="genreWrapper flex-container">
    <div class="genreBox">
      <%= image_tag("Tシャツ.png" ,:class => "icon") %>
      <p class = "genreName">＃半袖</p>
      <a href="/cordinates/indexShortSleeve"></a>
    </div>
    <div class="genreBox">
      <%= image_tag("長袖.png" ,:class => "icon") %>
      <p class = "genreName">＃長袖</p>
      <a href="/cordinates/indexLongSleeve"></a>
    </div>
    <div class="genreBox">
      <%= image_tag("セーター.png" ,:class => "icon") %>
      <p class = "genreName">＃長袖（厚着）</p>
      <a href="/cordinates/indexThickLongSleeve"></a>
    </div>
    <div class="genreBox">
      <%= image_tag("ダウンジャケット.png" ,:class => "icon") %>
      <p class = "genreName">＃コートあり</p>
      <a href="/cordinates/indexCoat"></a>
    </div>
  </div>







</div>
</div>
